# Removing executables
autodiff/target/
*.so
*.o

# Removing byproducts
out.txt
NULL
a.out
temp.out
device-config.yaml
**/.DS_Store
*.bin

# Removing environment files
.vscode/
*venv/

# Removing build files for other products
torch_build_tests/
